@{
    ViewBag.Title = "درباره";
    ViewBag.Description = "هر داستانی غایتی داره، هر روایتی رویایی؛ اما رویای راوی روایته. اهل عالم همه بازیچه‌ی رویاهان و بازیگر داستان‌ها، اما راوی فقط تماشاچی‌اش. فارغ از نمای نزدیک نمایش و هیاهو و های‌و‌هوی قصه گوشه‌ای نشسته، از یک زاویه‌ی بالاتر به همه‌چیز خیره میشه؛ پیکی برداشته و روایتی آغاز میکنه.";
}

<h1>
    درباره
</h1>
<p>
    در نگاه اول شاید همه‌چیز عجیب به نظر بیاد؛ ولی دنیا صرفا دنیاست، فارغ از همه. زمان می‌گذره، آدم‌ها میان و میرن، در آخر تنها روایته که باقی می‌مونه. هر کسی یه داستانی داره؛ کی هستی؟ چی هستی؟ داستانت چیه؟ دنبال چی هستی؟ هر داستانی غایتی داره، هر روایتی رویایی؛ اما رویای راوی روایته. اهل عالم همه بازیچه‌ی رویاهان و بازیگر داستان‌ها، اما راوی فقط تماشاچی‌اش. البته، نه آنکه میل خاصی به کار باشه یا فضیلتی، فقط راوی خسته‌تر یا شاید پوچ‌تر از این حرف‌هاست؛ پس فارغ از نمای نزدیک نمایش و هیاهو و های‌و‌هوی قصه گوشه‌ای نشسته، از یک زاویه‌ی بالاتر به همه‌چیز خیره میشه؛ پیکی برداشته و روایتی آغاز میکنه. راوی به ظاهر میان مردمانه، اما در اعماق دوردستی به قلعه‌ای همسایه‌ی سایه‌هاست. آنچنان بینا نیست اما بیننده‌ی خوبیه، از پشت هزار خشت بهتر از آینه و میون مه بهتر از درخشش خورشید میبینه، چون پرتو نگاهش ثابت و بی‌انحرافه، حتی شاید بی‌روح. نه در بند کسیه و نه در پی چیزی. روزگاری دستی به کار داشت و ردپایی به راه، اما این روزها، فقط تماشا میکنه.
</p>
