@{
    ViewBag.Title = "ارتباط با ما";
    ViewBag.Description = "هر داستانی غایتی داره، هر روایتی رویایی؛ اما رویای راوی روایته. اهل عالم همه بازیچه‌ی رویاهان و بازیگر داستان‌ها، اما راوی فقط تماشاچی‌اش. فارغ از نمای نزدیک نمایش و هیاهو و های‌و‌هوی قصه گوشه‌ای نشسته، از یک زاویه‌ی بالاتر به همه‌چیز خیره میشه؛ پیکی برداشته و روایتی آغاز میکنه.";
}

<h1>ارتباط با ما</h1>
<h3>ایمیل</h3>
<div>contact@royayeravi.ir</div>
<h3>تلگرام</h3>
<div>
    <a href="" hidden>درگاه ارتباطی</a><br /><br />
    <a href="https://t.me/RoyayeRavi">کانال</a>
</div>