@{
	ViewBag.Title = "مشکلی پیش آمد";
	ViewBag.Description = "ارور 500";
	ViewBag.Hidden = true;
}

<div>
	<h3>مشکلی پیش آمده، لطفا لحظاتی دیگر مجددا تلاش کنید.</h3>
	<img src="~/pics/Error500.jpg" alt="ارور 500" style="width:70%; border-radius:10%;" />
</div>
