@{
    ViewBag.Title = "صفحه‌ی مورد نظر یافت نشد";
    ViewBag.Description = "ارور 404";
    ViewBag.Hidden = true;
}

<h3>صفحه‌ی مورد نظر یافت نشد.</h3>
<img src="~/pics/Error404.jpg" alt="ارور 404" style="width:70%; border-radius:10%;" />
