@using Weblog.Core.Domain.Entities;
@model Subscriber
@{
    ViewBag.Title = "خبرنامه";
    ViewBag.Description = "عضویت خبرنامه";
}

<form action="~/newsletter/verify" method="post">
    <label asp-for="VerificationCode">کد ارسال شده به ایمیل خود را وارد کنید:</label>
    <input asp-for="Email" value="@Model.Email" hidden />
    <input asp-for="VerificationCode" class="form-input" style="display:inline" />
    <button class="button button-green-back" style="width: 50; margin: 20px;">ارسال</button>
    <span asp-validation-for="VerificationCode" style="color:red;"></span>
    @if (ViewBag.WrongCode != null)
    {
        <span style="color: red;">@ViewBag.WrongCode</span>
    }
</form>
<div style="font-size: 11px;">در صورت عدم دریافت ایمیل پوشه‌ی اسپم خود را نیز چک کنید.</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-test="window.jQuery" asp-fallback-src="~/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" integrity="sha512-FOhq9HThdn7ltbK8abmGn60A/EMtEzIzv1rvuh+DqzJtSGq8BRdEN0U+j0iKEIffiw/yEtVuladk6rsG4X6Uqg==" crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/js/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-test="window.jQuery.validator.unobstrusive" asp-fallback-src="~/js/jquery.validate.unobstrusive.min.js"></script>
