@using Weblog.Core.Domain.Entities
@model Subscriber
@{
    ViewBag.Title = "خبرنامه";
    ViewBag.Description = "عضویت در خبرنامه";
}

<h5>
    عضویت شما در خبرنامه تایید شد.<br />
    از همراهی شما سپاس‌گذاریم.
</h5>

